.site_header {
background-color: #003a6a;
background-color: #003a6a;
padding-top: 20px;
border-top: 4px solid;
padding-bottom: 5px;
border-bottom: 4px solid;
}
.site_footer {
background-color: #003a6a;
padding-top: 50px;
border-top: 4px solid;
padding-bottom: 50px;
border-bottom: 4px solid;
}

#main {
padding-top: 0px !important;
}

.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.footer_text {
color: #fecd0b;
}

.menu_header {
color: #fecd0b !important;
}

.top_menu {
background-color: #004884;
border-color: #00569d;
margin-top: 10px;
}

.categoty_menu {
background-color: #004884 !important;
border-color: #00569d;
}

.text_category_menu {
color: #fecd0b;

}